@import "spacing";

:export {
  spaceNone: $space-none;
  space100: $space-100;
  space200: $space-200;
  space300: $space-300;
  space400: $space-400;
  space500: $space-500;
  space600: $space-600;
  space800: $space-800;
}