//Spacing Scale

$space-none: 0;
$space-100: 4px;   // 100
$space-200: 8px;   // 200
$space-300: 12px;  // 300
$space-400: 16px;  // 400 (Base)
$space-500: 20px;  // 500
$space-600: 24px;  // 600
$space-800: 32px;  // 800